<aside class="homenews-mb">
  <figure>
      <h2>
        <a href="/tin-tuc">Hot</a>
      </h2>
      <a href="/tin-tuc/<%=hotnews.news[0].titleseo%>" class="liveevent-newsmb" target="_blank">
          <span id="dot">
              <span class="ping"></span>
          </span>
          <span class="text">
              <%=hotnews.news[0].title%>
          </span>
      </a>
  </figure>

</aside>

<section>
  <div class="container">

                  <h1 class="services-mb">TRUNG TÂM SỬA GHẾ MASSAGE MIỀN BẮC</h2>

    <div class="row">
            <div class="dichvuchothue">
                <div class="col-xs-12">
                  <div class="box-cho-thue">
                    <ul>
                      <li><a href="" target="_blank">1. Sửa ghế massage uy tín giá rẻ</a></li>
                      <li><a href="" target="_blank">2. Thay da ghế massage bền đẹp bảo hành trọn đời</a></li>
                      <li><a href="" target="_blank">3. Thay túi hơi ghế massage, làm mới hệ thống bóp hơi</a></li>
                      <li><a href="" target="_blank">4. Bán ghế massage cũ uy tín, bảo hành 1 năm</a></li>
                      <li><a href="" target="_blank">5. Thu mua ghế massage cũ giá cao nhất</a></li>
                    </ul>
                  </div>
                </div>
            </div>
    </div>
    <div class="row">
      <div class="box-content">
        <h2>I. SỬA GHẾ MASSAGE UY TÍN MIỀN BẮC</h2>
        <p>GhemassageService là trung sửa sửa chữa ghế massage hàng đầu Việt Nam. Linh kiện chính hãng, với 10 năm kinh nghiệm, sửa chữa tất cả các bệnh ghế massage:</p>
        <ul>
          <li>Ghế massage có điện trên điều khiển nhưng không chạy.</li>
          <li>Ghế massage bật không lên nguồn</li>
          <li>Điều khiển phím bị liệt, treo, đơ</li>
          <li>Ghế hoạt động thiếu chức năng</li>
          <li>Ghế đấm bóp kêu to</li>
          <li>Ghế massage hoạt động một chỗ</li>
          <li>Ghế massage bị chập cháy bo mạch, nguồn, motor, hỏng dây culoa</li>
          <li>Ghế massage chỉ chạy 1 chiều, không đảo chiều</li>
          <li>Hệ thống bóp hơi bị yếu hoặc không bóp nữa</li>
          <li>Ghế bị bong tróc, nổ da</li>
        </ul>

      </div>
    </div>

  </div>
</section>
